<!DOCTYPE html>
<html lang="en">
    {% comment %}
    {% include home/head.html %}
    {% endcomment %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NimbleCSS - The Blazing Fast CSS Framework</title>
        <!-- <link rel="stylesheet" href="https://nimblecss.com/path_to_css_file.css"> -->
    </head>
<body>
    {{ content }}

    {% comment %}
    {% include home/footer.html %}
    {% endcomment %}

</body>
</html>
